* {
    font-family: 'Roboto';
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

/* Parallax Settings */
.sticky {
    position: fixed;
    top: 0;
}

.menu-padding {
    padding-top: 40px;
}

.photo {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    position: relative;
    background-position: 50% 0;

}

.home {
    background-image: url(../assets/images/header1.jpg);
    background-size: cover;

}

.about {
    background-color: #F5F5F5;
    min-height: 600px;
}

.gigs {
    background-color: #000000;

}

.image {
    background: url(../assets/images/loading.svg);
}

.svg_header {
    height: 80%;
    width: auto;
    position: relative;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.headertext {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    opacity: 0;
}
