<div ng-init="fetchGigs();fetchPhotos()">
<!--Main Content-->
<div id="Home" class="parallax-container header-container">
    <div class="section no-pad-bot topPadding">
        <div class="container ">
            <br><br>

            <div class="row center-align">
                <img src="../assets/images/joellogo.svg" height="100">
            </div>
            <div class="row center-align">
                <h5 class="header col s12 light blue-grey-text text-lighten-4">Welcome to DJ Joel's Official
                    Website, The
                    Most Happening Name on Goa's Party Scene.</h5>
            </div>
            <div class="row center-align">
                <ul class="inline">
                    <li><a href="#"><i class="fa fa-facebook fa-3x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-3x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram fa-3x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-soundcloud fa-3x white-text"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="parallax">
        <img ng-src="../assets/images/header1-optimized.jpg">
    </div>
</div>

<!--About Section-->
<div class="container" id="About">

    <div class="section">
        <h1 class="header">About</h1>
        <!--   Icon Section   -->
        <div class="row ">
            <div class="col s12 m4 l3">
                <img src='../assets/images/loading.svg'
                     lazy-img="../assets/images/joelpropic.jpg" class="circle responsive-img z-depth-3">
            </div>
            <div class="col s12 m4 l9">
                <section>
                    <p class="flow-text">DJ Joel known as one of the most popular names Goa Party scene. Other than
                        being
                        the co owner of Bullfrog Goa, DJ Joel has played at many parties and events in Goa and
                        Dubai.</p>
                </section>
            </div>
        </div>

        <div class="row">
            <section>
                <div class="col s12 m4 l4">
                    <h5>DJ Since</h5>

                    <p>1996</p>

                    <h5>Category</h5>

                    <p>Club/ Event DJ</p>

                </div>
                <div class="col s12 m4 l4">
                    <h5>Equipment</h5>

                    <p>Technics SL-1210 MK2, Allen & Heath Xone:92, Pioneer CDJ-2000 NXS, Pioneer EFX-1000, Pioneer
                        RMX-1000
                    </p>
                    <h5>Residency</h5>

                    <p>Indian</p>
                </div>
                <div class="col s12 m4 l4">
                    <h5>Venues played</h5>

                    <p>Sinq, Cape Town Cafe, The Observartory(Dubai)</p>

                    <h5>Set duration</h5>

                    <p>3-6 hours</p>
                </div>
            </section>
        </div>
    </div>


</div>

<!--Gigs Section-->
<div class="parallax-container media-container" id="Gigs">
    <div class="container">
        <h1 class="header white-text">Gigs</h1>

        <p class="thin white-text flow-text">Here are some of the events il be playing at in the coming days.</p>

        <div class="row">
            <div class="col s6 m3 l3" ng-repeat="gig in gigs" on-finish-render='Gigs'>
                <div class="card medium z-depth-3">
                    <div class="card-image">
                        <img class="responsive-img" src='../assets/images/loading.svg'
                             lazy-img="{{picUrl.gig+gig.photo_image}}">
                    </div>
                    <div class="card-content">
                        <p>{{gig.title}}</p>
                    </div>
                    <div class="card-action">
                        <a ng-click="getGigInfo(gig.id)" class="amber-text">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align" ng-show="loadingGigs">
            <img src="../assets/images/loading.svg" height="150" class="loaderBackGround">
        </div>
        <div class="row center-align">
            <button class="btn waves-effect waves-light blue-grey" ng-click="loadMoreGigs()">
                Load More
            </button>
        </div>
    </div>

    <div class="parallax">
        <img ng-src="../assets/images/header1.jpg">
    </div>
    <div id="gigInfo" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class=" center-align" adaptive-background>
                <img ng-src="{{picUrl.gig+gigInfo.image}}" width="350">
            </div>
            <div class="container">
                <p class="flow-text">Title - {{gigInfo.title}}

                <p class="flow-text">Venue - {{gigInfo.address}}</p>

                <p class="flow-text">Date - {{gigInfo.date}}</p>

                <p class="flow-text" ng-if="gigInfo.fbLink!='#'"><a
                        href="{{gigInfo.fbLink}}" target="_blank">Check us out on Facebook</a></p>
            </div>
            <div id="map-canvas" style="height: 400px"></div>
        </div>
        <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

</div>

<!--Mixes Section-->
<div class="container" id="Mixes">
    <div class="section">
        <h1 class="header">Mixes</h1>

        <div class="row">
            <div class="col s12 m3 l3">
                <section><p class="flow-text">My beats vary from House to Electronic and even to Dubstep</p><br>

                    <p class="flow-text">Follow me on SoundCloud to keep up with my latest beats</p></section>
            </div>
            <div class="col s12 m9 l9">
                <iframe class="z-depth-3" id="sc-widget"
                        src="https://w.soundcloud.com/player/?url=https://soundcloud.com/clinton_dsouza/sets/my-plays"
                        width="100%" height="500" scrolling="no" frameborder="no"></iframe>
            </div>
        </div>
    </div>
</div>

<!--Photos Section-->
<div id="Photos" class="parallax-container media-container">
    <div class="container">
        <h1 class="header white-text">Photos</h1>

        <div class="row" ng-repeat="photo in photos" on-finish-render='Photos' ng-if="$index % 4 === 0">
            <div class="col s6 m3 l3" ng-if="$index < photos.length">
                <img class=" responsive-img materialboxed z-depth-3" src='../assets/images/loading.svg'
                     lazy-img="{{picUrl.photo+photos[$index].photo_image}}"/>
            </div>
            <div class="col s6 m3 l3" ng-if="$index + 1 < photos.length">
                <img class="responsive-img materialboxed z-depth-3" src='../assets/images/loading.svg'
                     lazy-img="{{picUrl.photo+photos[$index + 1].photo_image}}"/>
            </div>
            <div class="col s6 m3 l3" ng-if="$index + 2 < photos.length">
                <img class="responsive-img materialboxed z-depth-3" src='../assets/images/loading.svg'
                     lazy-img="{{picUrl.photo+photos[$index + 2].photo_image}}"/>
            </div>
            <div class="col s6 m3 l3" ng-if="$index + 3 < photos.length">
                <img class="responsive-img materialboxed z-depth-3" src='../assets/images/loading.svg'
                     lazy-img="{{picUrl.photo+photos[$index + 3].photo_image}}"/>
            </div>
        </div>
        <div class="row center-align" ng-show="loadingPhotos">
            <img src="../assets/images/loading.svg" height="150" class="loaderBackGround">
        </div>
        <div class="row center-align">
            <button class="btn waves-effect waves-light blue-grey" ng-click="loadMorePhotos()">
                Load More
            </button>
        </div>
    </div>
    <div class="parallax">
        <img ng-src="../assets/images/gig_bg.jpg">
    </div>
</div>


<!--Contact Section-->
<div class="container" id="Contact">
    <div class="section">
        <h1 class="header">Contact</h1>

        <p class="thin flow-text">For bookings and enquiry feel free to get in touch.</p>


        <div class="row">

            <div class="col  s12 m4 l8 offset-m2 offset-l2">

                <form class="col s12 " ng-submit="sendEmail()">
                    <div class="row">
                        <input-field class="input-field col s12">
                            <i class="mdi-social-person prefix"></i>
                            <input id="name" type="text" class="validate" required="true" ng-model="email.name">
                            <label for="name">Name</label>
                        </input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12">
                            <i class="mdi-communication-email prefix"></i>
                            <input id="email" type="email" class="validate" required="true" ng-model="email.address">
                            <label for="email">Email</label>
                        </input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12">
                            <i class="mdi-communication-message prefix"></i>
                            <textarea id="message" class="materialize-textarea" required="true"
                                      ng-model="email.msg"></textarea>
                            <label for="message">Message</label>
                        </input-field>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light blue-grey" type="submit">Submit
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Footer Section-->
<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact Details</h5>

                <p class="grey-text text-lighten-4">Phone Number: +91-999123765</p>

                <p class="grey-text text-lighten-4">Email: joel@joel.com</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul class="inline">
                    <li><a href="#"><i class="fa fa-facebook fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-soundcloud fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope fa-2x white-text"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Copyright Text
            <div class="right">
                <a href="#" class="credPadding"><i class="fa fa-facebook fa-2x white-text"></i></a>
                <a href="#" class="credPadding"><i class="fa fa-twitter fa-2x white-text"></i></a>
                <a href="#" class="credPadding"><i class="fa fa-instagram fa-2x white-text"></i></a>
                <a href="#" class="credPadding"><i class="fa fa-envelope fa-2x white-text"></i></a>
            </div>
        </div>
    </div>
</footer>
</div>