<div>
    <div class="container">
        <h1 class="header">Login</h1>

        <div class="row">

            <div class="col s12 m6 l6 offset-m3 offset-l3">

                <form class="col s12">
                    <div class="row">
                        <input-field class="input-field col s12">
                            <input id="email" type="email" class="validate" required="true">
                            <label for="email">Email</label>
                        </input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12">

                            <input id="password" type="password" class="validate" required="true">
                            <label for="password">Password</label>
                        </input-field>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light blue-grey" type="submit">Login
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </form>

                <a class="right">Forgot Password</a>

            </div>
        </div>
    </div>

</div>